body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;

}

section h1 {
   font-size: 70px;
   font-weight: 600;
}


.name-color {
   color: rgb(255, 94, 0);
}

section {
   display: flex;
}

.half {
   width: 70%;
   padding-left: 5%;
}

.size {
   width: 100%;
}

.head-h1 {
   font-size: 52px;
}

.hire-me {
   text-decoration: none;
   background-image: linear-gradient(rgb(255, 174, 0), rgb(255, 94, 0));
   padding: 10px 40px;
   border-radius: 7px;
   font-weight: 600;
   color: white;
   position: absolute;
   margin-top: 10px;
   transition: 0.5s;
}

.hire-me:hover {
   background-image: linear-gradient(rgb(255, 94, 0), rgb(255, 174, 0));
   transition: 1s;

}

.top-banner {
   background-image: url(top-banner.png);
   background-repeat: no-repeat;
   background-size: cover;

}

.cv {
   text-decoration: none;
   background-image: linear-gradient(rgb(255, 174, 0), rgb(255, 94, 0));
   padding: 10px 40px;
   border-radius: 7px;
   font-weight: 600;
   color: white;
   position: absolute;
   margin-top: 10px;
   transition: 0.5s;
}

.cv:hover {
   background-image: linear-gradient(rgb(255, 94, 0), rgb(255, 174, 0));
   transition: 1s;
}

.dream-big {
   margin-top: 100px;
}

.second-one {
   width: 70%;
   padding-right: 8%;
   padding-left: 5%;
}

.second-bg {
   width: 110%;
   margin-top: 20px;
}

.dream-big {
   background-image: url(dream-bg.png);
   background-repeat: no-repeat;
   background-position: right;
   background-size: 8%;
}

footer {
   margin-top: 50px;
   margin-bottom: 65px;
}

footer h1 {
   font-size: 40px;
}

.footer-header {
   font-size: 80px;
   padding-left: 5%;

}

.flexible-content {
   display: flex;
   padding-left: 5%;
   padding-right: 5%;
}

.red {
   background-image: url(exp-bg.png);
   background-repeat: no-repeat;
   position: absolute;
   width: 12%;
   margin-top: -90px;
   padding-left: -5%;


}

.exprence-item {
   width: 50%;
   margin-left: 5%;
   margin-right: 5%;
   padding: 30px 50px;
   box-shadow: 5px 5px 20px gray;
   text-align: left;
   position: relative;
   i
}

footer h2 {
   font-size: 30px;
}

.finish-item {
   text-align: center;
   margin-bottom: -30px;
}

#left-border {
   border-left: 15px solid;
   border-image: linear-gradient(rgb(255, 94, 0), rgb(255, 174, 0));
   border-image-slice: 1;
}

#right-border {
   border-left: 15px solid;
   border-image: linear-gradient(rgb(255, 174, 0), rgb(255, 94, 0));
   border-image-slice: 1;
}